body {
  background-color: #7fc8a950;
}

hr {
  border-style: none;
  width: 100px;
  border-top: 3px dashed #8e8d8f80;
}

h1,
h3 {
  color: #66bfbf;
}

ul.s {
  text-decoration: underline;
  list-style-type: disc;
}

ol.s,
ol.ss {
  list-style-type: none;
}

ol.s {
  counter-reset: ctrol 9;
}

ol.ss {
  counter-reset: ctrol;
}

ol.s li:before,
ol.ss li::before {
  text-decoration: underline;
  font-family: Arial;
  font-style: italic;
  content: counters(ctrol, ".") " ";
}

ol.s li,
ol.ss li {
  counter-increment: ctrol;
  font-family: cursive;
  text-decoration: solid;
}

a.s[href^="https"]::before {
  content: "🔗 ";
}

a.s[href^="mailto"]::before {
  content: "📧 ";
}

a.s[href^="tel"]::before {
  content: "📞 ";
}

table.s {
  border-width: 2px;
  border-color: black;
  border-collapse: collapse;
  background-color: #d5eebb50;
}

th.s {
  border: 2px solid black;
  font-weight: bold;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #5f7a6150;
}

td.s {
  border: 2px solid black;
  padding-left: 20px;
  padding-right: 20px;
}

table.tablecollapse {
  border-collapse: collapse;
}

table.tableline {
  border: 2px solid black;
}

table.tablebgcolor {
  background-color: #d5eebb50;
}

td.padding,
th.padding {
  padding-left: 20px;
  padding-right: 20px;
  border-width: 0;
}

td.nopadding,
th.nopadding {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-width: 0;
}

th.heading {
  font-weight: bold;
  text-align: left;
  background-color: #5f7a6150;
}

div.pad {
  padding-top: 100px;
}
